@model MvcCrud.Models.Dto.ProductModel

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ekle</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>CategoriesModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(x => x.Products.ProductID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(x => x.Products.ProductID, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.Products.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(x => x.Products.ProductName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.Products.Categories.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownListFor(x => x.Products.CategoryID, Model.CategoriesForDropDown, new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.Products.Suppliers.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownListFor(x => x.Products.SupplierID, Model.SuppliersForDropDown, new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.Products.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(x => x.Products.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.Products.Discontinued, htmlAttributes: new { @class = "form-check-label col-md-2" })
        <div class="col-md-3">
            @Html.CheckBoxFor(x => x.Products.Discontinued, new { htmlAttributes = new { @class = "form-check-input"} })
        </div>
    </div>
    <br />
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <input type="submit" value="Ekle" class="btn btn-success" />
        </div>
    </div>
}

<p>
    <div class="alert alert-warning" role="alert">
        <strong>@Html.ActionLink("Listeye Geri Dön", "Liste")</strong>
    </div>
    @*Listeye Geri Don*@

</p>